@model ProductDetailsViewModel

<section class="page-location">
    <div class="_container">
        <h2 class="current-page-h2">SHOP</h2>
        <div class="page-links">
            <a href="home.html" class="page-link">HOME.</a>
            <p class="page-link">PRODUCT DETAILS</p>
        </div>
    </div>
</section>
<section class="product-details-section">
    <div class="_container">
        <div class="product-imgs">
            <img src="@Model.ImageUrl" width="430" height="501" alt="@Model.Name">
            <div class="sm-product-imgs">
                <img src="@Model.ImageUrl" width="113" height="120" alt="">
                <img src="@Model.ImageUrl" width="113" height="120" alt="">
                <img src="@Model.ImageUrl" width="113" height="120" alt="">
                <img src="@Model.ImageUrl" width="113" height="120" alt="">
            </div>
        </div>
        <div class="product-details">
            <h2 class="product-title">@Model.Name</h2>
            <p class="product-text">
                @Model.Description
            </p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>16 Reviews</p>
            </div>
            <p class="price">$@Model.Price</p>
            <div class="quantity">
                <button class="btn-white">-</button>
                <h5>1</h5>
                <button class="btn-white">+</button>
                <button class="btn-red cart">Add to Cart<i class="fa-regular fa-cart-plus"></i></button>
            </div>
            <div class="status">
                <div>
                    <span class="circle circle-red"></span>
                    <span class="circle circle-yellow"></span>
                    <span class="circle circle-blue"></span>
                </div>
                <p>SKU: N/A</p>
            </div>
            <button class="btn-white wishlist">Add to wishlist</button>
            <p class="category">@Model.Category</p>
        </div>
    </div>
</section>
<section class="product-info">
    <div class="_container">
        <div class="info-buttons">
            <button class="btn-white info-button">DESCRIPTION</button>
            <button class="btn-white info-button">ADDITIONAL INFO</button>
            <button class="btn-white info-button">REVIEWS (0)</button>
            <button class="btn-white info-button">SHIPPING & DELIVERY</button>
        </div>
        <h2 class="description-header">
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie.
        </h2>
        <div class="info-container">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor.
                <br>
                <br>
                accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing
                lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?
                <br>
                <br>
                <br>
                Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus
                earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu
                sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor.
            </p>
            <img src="images/placeholders/469x356.svg" alt="">
        </div>
    </div>
</section>
<section class="related-products">
    <div class="_container">
        <h2 class="related-header">Related Products</h2>
        <div class="grid-products">
            <div class="card-product">
                <img src="images/placeholders/270x295.svg" alt="">
                <h3 class="product-name">Gumshoes black fashion</h3>
                <div class="cost">
                    <p class="price">$120.00</p>
                    <p class="discount">$80.00</p>
                </div>
            </div>
            <div class="card-product">
                <img src="images/placeholders/270x295.svg" alt="">
                <h3 class="product-name">Woman white dress</h3>
                <div class="cost">
                    <p class="price">$120.00</p>
                    <p class="discount">$80.00</p>
                </div>
            </div>
            <div class="card-product">
                <img src="images/placeholders/270x295.svg" alt="">
                <h3 class="product-name">Kettle water boiler</h3>
                <div class="cost">
                    <p class="price">$120.00</p>
                    <p class="discount">$80.00</p>
                </div>
            </div>
            <div class="card-product">
                <img src="images/placeholders/270x295.svg" alt="">
                <h3 class="product-name">Table Lamp</h3>
                <div class="cost">
                    <p class="price">$120.00</p>
                    <p class="discount">$80.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="extra-imgs">
    <div class="_container">
        <div class="extra-container">
            <img src="images/placeholders/200x122.svg" alt="">
            <img src="images/placeholders/200x122.svg" alt="">
            <img src="images/placeholders/200x122.svg" alt="">
            <img src="images/placeholders/200x122.svg" alt="">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
    </div>
</div>